
#logomain {
  margin-top: 0.1vh;
  z-index: 800;
  box-shadow: 0 2px 18px rgba(0, 0, 5, 0);

}

#centeringdiv {
   margin: 0 auto;
   text-align: center;
   width: 100%;
}

.logoanimation {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;  
  -o-animation-iteration-count: infinite;
}


.logoanimation::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  box-shadow: 0 5px 12px #ffffff;
  transform: scale(5, 5);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  
}
  
.logoanimation:hover {
  -webkit-transform: scale(1, 1);
  transform: scale(1.02, 1.02);
  box-shadow: 0 4px 40px #000000c5;
}

.logoanimation:hover::after {
  opacity: 1;
}


#splash {
  z-index: 9;
  margin: 0 auto;
  width: 100%;
  padding-top: 20vh;
}


.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}


@media screen and (max-width: 800px) {
  #logomain {
   margin-top: 5vh;
   width: 80vw;
   height: 100%;
  }

  .twobuttons {
    width: 300px;
    margin: 0 auto;

  }
}

@media screen and (min-width: 800px) {
  #logomain {
    margin-top: 0vh;
    width: 70vw;
    height: 100%;

  }

}

body {
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(224, 255, 245) 100%);
}

canvas {
  display: block;
  vertical-align: bottom;
}


#loginbtn{
  border: 3px solid #00A759;
  border-radius: 12px;
  width: 200px;
  height: 50px;
  background-color: #ffffff00;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #00A759;
  font-size: 20px;

  border-radius: 5px;
  padding: 12px;
    padding-bottom: 40px;
  box-shadow: 0 2px 5px rgba(59, 59, 59, 0.493);

  transition: all 0.2s;
  cursor: pointer;
}


  
#loginbtn:hover {
  -webkit-transform: scale(1, 1);
  transform: scale(1.01, 1.01);
  box-shadow: 0 4px 10px #0000006b;
}

#loginbtn:hover::after {
  opacity: 1;
}



#registerbtn{
  border-radius: 12px;
  width: 200px;
  height: 50px;
  background-color: #00A759;
  border: 3px solid #ffffff00;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;

  border-radius: 5px;
  padding: 12px;
  padding-bottom: 40px;
  box-shadow: 0 2px 5px rgba(59, 59, 59, 0.493);

  transition: all 0.2s;
  cursor: pointer;
}

#registerbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
  
}

#registerbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s;
}

#registerbtn:hover span {
  padding-right: 20px;
  
}

#registerbtn:hover span:after {
  opacity: 1;
  right: 0;
}

#registerbtn::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
  
#registerbtn:hover {
  -webkit-transform: scale(1, 1);
  transform: scale(1.01, 1.01);
  box-shadow: 0 4px 10px #0000006b;
}

#registerbtn:hover::after {
  opacity: 1;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}




.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Loading Transition */

#loader {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  z-index: 1;
  -webkit-animation: dash 2s linear infinite;
  animation: dash 2s linear infinite;
}



/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.6s;
  animation-name: animatebottom;
  animation-duration: 0.6s
}

@-webkit-keyframes animatebottom {
  from { bottom:-50px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-50px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


svg {
  -webkit-transform-origin: 50% 65%;
          transform-origin: 50% 65%;
}

svg polygon {
 box-shadow: 0 2px 50px 20px rgb(255, 255, 255);
  stroke-dasharray: 17;
  -webkit-animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
          animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 136;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 136;
  }
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


.descriptiontext {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: rgb(7, 7, 7);
  font-size: 27px;
  padding: 3px; 
  line-height: 1.2;

}

/*  Creator - Samir Kushwaha - TY BSc IT - 11/2018 (Be remembered for something good :) ) */